*{
    font-family: 'Poopins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    display: flex;
    background: #1F242D;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.border{
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    transition:  .2s;
}
.border:hover{
    box-shadow: 3px 3px rgb(49, 201, 95), -1em 0 .4em rgb(101, 81, 211);
    transform: translate(0px, -7px);
}
a{
    color: rgb(129, 125, 125);
    position: relative;
    font-size: 43px;
    padding: 10px 50px;
    display: inline-block;
    letter-spacing: .2rem;
}
a:hover{
    color: rgb(243, 243, 243);
}
